In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
df = pd.read_csv('originalfile.csv',engine='python')

In [3]:
df.head()

   Age  Sex Cholesterol  Na_to_K    Drug
0   23    0        HIGH   25.355  5000.0
1   47    1        HIGH   13.093  3000.0
2   47    1        HIGH   10.114  3000.0
3   28    0        HIGH    7.798  4000.0
4   61    0        HIGH   18.043  5000.0

In [4]:
df.columns

Index(['Age', 'Sex', 'Cholesterol', 'Na_to_K', 'Drug'], dtype='object')

In [5]:
df.tail() # Check the bottom 5 rows

     Age  Sex Cholesterol  Na_to_K    Drug
195   56    0        HIGH   11.567  3000.0
196   16    1        HIGH   12.006  3000.0
197   52    1        HIGH    9.894  4000.0
198   23    1      NORMAL   14.020  4000.0
199   40    0      NORMAL   11.349  4000.0

# Missing Data
Some columns have missing values. For our analysis, we only want to keep rows with complete data.
Note that "NaN" stands for "Not a Number" and means the data is missing.

In [6]:
# This will give us a list of the columns that contain NaN 
# NaN stands for "Not a Number", or that there is no value in there (it's missing)
df.isna().any()[lambda x: x]

Drug    True
dtype: bool

Cleaning Data

In [7]:
# Clean rows
df = df.dropna()
df = df.reset_index(drop=True)
df.to_csv('cleanedfile.csv')